:root {
  --color-alpha: #f2b825;
  --color-beta: #5b4a3a;
  --color-gamma: #545871;
  --color-delta: #7f231c;
  --color-arktos: #e84033;
  --color-tavros: #00713d;
  --color-psi_1: #878a86;
  --color-psi_2: #1b1a17;
  --color-omega_1: #ffffff;
  --color-omega_2: #ebedea;
  --color-omega_3: #d3d8d1;
}
