.sectionHeader {
  padding: 1rem 4rem 4rem 4rem;
  background-color: var(--color-omega_2);
}

.portfolioContainer {
  position: absolute;
  left: 7.5rem;
  top: -10rem;
}

.mainNav {
  max-width: 400px;
  flex-grow: 1;
}

.item,
item:hover {
  border-radius: 10px;
  background-color: var(--color-omega_2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--color-psi_1);
  margin-bottom: 1rem;
  min-width: 25rem;
  padding: 5px 10px;
}

.item h3 {
  font-size: 2.4rem;
  margin-bottom: 0;
}
.item p {
  font-size: 1.8rem;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 0;
}
