.portfolioContainer {
  position: absolute;
  left: 7.5rem;
  top: -10rem;
}

.item,
item:hover {
  border-radius: 10px;
  background-color: var(--color-omega_2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--color-psi_1);
  margin-bottom: 1rem;
  min-width: 35rem;
}

.item h3 {
  font-size: 2.4rem;
}
.item p {
  font-size: 1.8rem;
  text-align: right;
  position: relative;
  left: 3rem;
  top: 0.5rem;
}
